{% load users_tags %}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Medic-{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
    {% block mycss %}{% endblock %}
</head>
<body>
<div class="flex-center">
    <div class="container">

        <!-- 用户登录部分开始 -->
        <div>
            <h1 class="logo"><a href="{% url 'index' %}">Medic互联网医疗助手</a></h1>
            {% if user.is_authenticated %}
                <p>你已登录，欢迎你：<a href="#">{{ user.username }}</a></p>
                <button class="btn btn-default">
                    <a href="{% url 'logout' %}?next={{ request.path }}">注销登录</a>
                </button>
                <button class="btn btn-default">
                    <a href="{% url 'password_change' %}?next={{ request.path }}">修改密码</a>
                </button>
            {% else %}
                <p>你还没有登录，请
                    <button class="btn btn-default">
                        <a href="{% url 'login' %}?next={{ request.path }}">登录</a>
                    </button>
                    或者
                    <button class="btn btn-default">
                        <a href="{% url 'users:register' %}?next={{ request.path }}">注册</a>
                    </button>
                </p>
            {% endif %}
        </div>
        <!-- 用户登录部分结束 -->
        <!-- 导航部分开始 -->
        <div>
            <a href="{% url 'news:index' %}">新闻</a>
            <a href="{% url 'users:doctors_index' %}">医生信息</a>
            <a href="{% url 'hospital:index' %}">医院信息</a>
        </div>
        <!-- 导航部分结束 -->

        <!-- 用户病历部分开始 -->
        <div>
            <a href="{% url 'medical_record:index' %}">我的病历</a>
            {# 如果是医生则有添加病历选项 #}
{#            {% if is_doctor|users.id is not None %}#}
{#                <a href="{% url 'medical_record:add' %}">添加病历</a>#}
{#            {% endif %}#}
        </div>
        <!-- 用户病历部分结束 -->


        <!-- main part -->
        {% block content %}{% endblock %}
        <!-- /.main -->

    </div>

    {% block myjs %}{% endblock %}
</div>
</body>
</html>